.title {
    color: #2d002d;
    padding: 10px;
}

#contenedor {
    width: 500px;
    margin: 0 auto;
    padding: 5px;
}

.body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.button {
    background: #8080c0;
    background-image: -webkit-linear-gradient(top, #8080c0, #a1d5f5);
    background-image: -moz-linear-gradient(top, #8080c0, #a1d5f5);
    background-image: -ms-linear-gradient(top, #8080c0, #a1d5f5);
    background-image: -o-linear-gradient(top, #8080c0, #a1d5f5);
    background-image: linear-gradient(to bottom, #8080c0, #a1d5f5);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    padding: 10px;
}