.title {
    color: #2d002d;
}

.divs {
    padding: 2px 450px;
}

.body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.button {
    background: #9f40c2;
    background-image: -webkit-linear-gradient(top, #9f40c2, #a1d5f5);
    background-image: -moz-linear-gradient(top, #9f40c2, #a1d5f5);
    background-image: -ms-linear-gradient(top, #9f40c2, #a1d5f5);
    background-image: -o-linear-gradient(top, #9f40c2, #a1d5f5);
    background-image: linear-gradient(to bottom, #9f40c2, #a1d5f5);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}